body {
    font-family: Helvetica;
}
.bannerl, .blokl {
    background-color:rgb(130, 69, 85);
    color: white;
    text-align: center;
    float: left;
    width: 30%;
    height: 200px;
    float: left;
} 
.bannerp, .blokp {
    background-color:rgb(130, 69, 85);
    color: white;
    text-align: center;
    float: left;
    width: 70%;
    height: 200px;
    float: right;
}
.mid, .footer {
    background-color: rgb(240, 234, 226);
    width: 100%;
    padding: 120px;
    float: left;
}
table, td {
border: solid 1px rgb(130, 69, 85);
color: rgb(130, 69, 85);
padding: 10px;
}
a {
    color: rgb(240, 234, 226);
}