html{
    font-family: Verdana;
}

.topbaner{
    background: #4682B4;
    color: #ffff;
    padding:20px;
    font-size: 120%;
    text-align: center;

}
.lewy{
    background: #40E0D0;
    width:40%;
    height:500px;
    float:left;
}
.prawy{
    background: #40E0D0;
    width:60%;
    height: 500px;  
    float:left;

}
.stopencja{
    background: #4682B4;
    color: #ffff;
    padding:20px;
    font-size: 120%;
    text-align: center;
}

