.baner{
    width: 100%;
    height: 13%;
    background-color: purple;
    font-size:60px;
    text-align:center;
    padding:15px;
    
}
.lista{
    text-align: center;
    font-size: 30px;
}
.autor{
    margin-left:30%;
    font-size:40px;
    text-align:center;
    margin-right:55%;
    margin-top:100px;
  
}
.komentarz{
    border:3px solid;
    margin-left:32%;
    width:35%;
    
    
    
}
.in{
    
    margin-top:30px;
    margin-left:32%;
}
.tresc{
    
        border:2px solid;
        margin-left:32%;
        width:35%;
        height:25%;
        margin-top:30px;
}