.box    {
    background-color: rgb(136, 206, 7);
    width: 1000px;
    margin: auto;
    }
.baner  {
    background-color: #99FF66;
    height: 200px;
}
.menu   {
    background-color: #66CCFF;
    float: left;
    text-align: center;
    height: 100px;
    width: 100%;
    font-size: 200%;
}
.k1     {
    background-color: #99FFCC;
    float: left;
    width: 310px;
    padding: 10px;
    height: 191px;
}
.k2     {
    background-color: #99FFCC;
    float: left;
    width: 310px;
    padding: 10px;
}
.k3     {
    background-color: #99FFCC;
    float: left;
    width: 310px;
    padding: 10px;
    height: 191px;
}
.stopka     {
    background-color: rgb(233, 255, 153);
    float: center;
    color:  black;
    width: 100%;
    text-align: right;
}
h2,h3   {
    text-align: center;
}
body    {
background-color: #145a94;
}
a   {
   color: #006666;
   margin:50px;
   text-decoration: none;
}