.kontener{
width: 1000px;
height:100%;
background-color: #EEEEEE;
text-align: center;
margin: auto;


}
.góra{
    width: 1000px;
    height: 100px;
    background-color: #C0C0C0;
    
}
.stopka{
    width: 100%;
    height: 100px;
    background-color: #C0C0C0;
    padding:10px;
    float:right;

}
.logo{
    width:400px;
    padding-bottom: 10px;
    float: left;
}
.menu{
    width:600px;
    padding-bottom: 10px;
    float: left;
}
a{
    text-decoration: none;
    color: #555555;
    margin:50px;
    font-size:200%;
}
.baner{
    background-color: #DDDDDD;
    height: 200px;
}
.srodek{
    margin:50px;
}
.skrypt{
    text-align: left;
}
#wynik{
    text-align:center;
    color:red;
}