#baner{
    background-color: #E8C84E;
    height: 50px;
    text-align: center;
    font-size: 130%;
}
#box{
    height: 500px;
    width: 100%;
}
#left{
    background-color: #FFB544;
    background-size: auto;  
    width: 40%;
    height: 500px;
    font-size: 130%;
    float: left;
}
#leftin{
    background-color: #FFAA00;
    background-size: auto;  
    width: 100%;
    height: 40%;
    padding-top: 30px;
    float: left;
}
#mid{
    height: 500px;
    width: 30%;
    text-align: center;
    float: left;
}
#right{
    background-color: #FFB544;
    height: 500px;
    width: 30%;
    font-size: 130%;
    text-align: center;
    float: left;
}
#footer{
    background-color: #E8C84E;
    height: 50px;
    width: 100%;
    text-align: right;
    float: left;
}
h3 img{
    margin-top: 50px;
}
h4{
    padding-right: 5px;
}
li {
    padding-bottom: 20px;
}