.baner
{
    background-color: chartreuse;
width: 100%;
height: 25px;
}
.lewo
{
width: 20%;
background-color: black;
height: 100%;
float: left;
}
.srodek
{
    width: 75%;
    height: auto;
    background-color: aquamarine;
float: left;
}
.stopka
{
background-color: aqua;
width: 100%;
height: 20%;

}