.baner
{
 background-color: chartreuse;
width: 100%;
height: 25px;
}
.lewo
{
    width: 20%;
height: 100%;
float: left;
background: yellow;
}
.srodek
{
    width: 80%;
    height: auto;
    background-color: aquamarine;
float: left;
}
.stopka
{
background-color: aqua;
width: 100%;
height: 20%;
float: left;

}
img{
    position: relative;
    height: 200px;
    width: 255px;
}
h1
{
text-align: center;
}
