.kontener
{
    background-color: dimgray;
    width: 1000px;
    margin: auto;
    }
.baner
{
background-color: dimgray;
height: 200px;
}
.menu
{
    background-color: firebrick;
    float: left;
    text-align: center;
    height: 100px;
    width: 100%;
font-size: 200%;

}
.kolumna1
{
    background-color: whitesmoke;
    float: left;
width: 310px;
padding: 10px;
height: 191px;
}
.kolumna2
{
    background-color: white;
float: left;
    width: 310px;
    padding: 10px;
}
.kolumna3
{
    background-color: whitesmoke;
float: left;
    width: 320px;
    padding: 10px;
    height: 191px;
}
.stopka
{
    background-color: dimgray;
float: left;
color:  #006666;
margin-left: 0px;
width: 100%;
text-align: right;

}
h2,h3
{
    text-align: center;
}
body
{
background-color: lightgray;
}
a
{
   color: #006666;
   margin:50px;
   text-decoration: none;
}
input.watermarkTextBox { 
    color: #808080; 
}