body{
	font-family: Georgia;
	margin: 0px;
}

#up
{
	background-color:#824555;
	color: white;
	text-align: center;
	padding: 20px;
}

#przedzial1
{
	background-color: #A26475;
	width: 30%;
	height: 300px;
	float: left;
	color: white;
}

#przedzial2
{
	background-color: #A26475;
	width: 30%;
	height: 300px;
	float: left;
	color: white;
}

#przedzial3
{
	background-color: #A26475;
	width: 40%;
	height: 300px;
	text-align: right;
	float: left;
	color: white;
}

#srodek
{
	background-color: #F0EAE2;
	padding: 50px;
	clear: both;
}

#down
{
	background-color: #824555;
	text-align: center;
	padding: 20px;
}
table, tr, th, td
{
	border: 2px solid #69293A;
	padding: 7px;
	border-collapse: collapse;
}

ul
{
	list-style-type: square;
}
