body{
    font-family: Helvetica;
}
.BokLewo{
    background-color: rgb(255, 230, 0);
    color: rgb(255, 0, 0);
    width: 20%;
    float: left;
}
.gora{
    background-color: rgb(38, 0, 255);
    width: 80%;
    height: 100px;
    float: left;
    text-align: center
}
h1{
    letter-spacing: 5px;
}
h3{
    text-align: center;
}   
.P2:hover{
    background: rgb(209, 16, 16);
}
#IndianMan{
    width: 100%;
}
#IN{
    float: left;
    width: 45%;
    height: 105%
}
#OUT{
    float: right;
    width: 45%;
    height: 105%
}
td{
    padding: 10px;
}
.P2 input, .P2 select{ 
    width:100%;
}
.srodek{
    background-color: white;
    color: rgb(0, 0, 0);
    width: 80%;
    height: 300px;
    float: left;
}
.dol{
    width: 80%;
    text-align: center;
    float: left;
    height: 200px;
}
.stopka{
    background-color: steelblue;
    text-align: center;
    padding: 20px 0px;
    float: left;
    width: 100%;
}   