  <head>
      <meta charset="utf-8">
     <body background="tlo.jpg"></body>
  </head>
  Długość trasy<input type="number" id="trasa">
  Ilość biletów<input type="number" id="bilety">
  Ulgowy? (-30%)
  <select id="ulga">
    <option value="tak">Tak</option>
    <option value="nie">Nie</option>
</select>
<button onclick="calc()" >Oblicz</button>
<span id="cena" ></span>
<script>
function calc(){
    var trasa = parseFloat(document.getElementById("trasa").value);
    var ilosc = document.getElementById("bilety").value;
    var ulga = document.getElementById("ulga").value;
    if(ulga=="tak"){
        var cena = trasa*2*ilosc*0.7;
        document.getElementById("cena").textContent="cena wynosi "+cena.toFixed(2)+"zł";
    }else if (ulga=="nie"){
        var cena = trasa*2*ilosc;
        document.getElementById("cena").textContent="cena wynosi "+cena.toFixed(2)+"zł";
    }
}
</script>