.baner{
    background-color: rgb(60, 255, 0);
    height: 50px;
    width: 100%;
}
.box{
    height: 420px;
    width: 100%;
}
.lewo{
    background-color: rgb(255, 0, 0);
    height: 450px;
    width: 40%;
    float: left;
}
.srodek{
    background-color: rgb(60, 255, 0);
    height: 450px;
    width: 30%;
    float: left;
}
.prawo{
    background-color: rgb(255, 0, 0);
    height: 450px;
    width: 30%;
    float: left;
}
.stopka{
    background-color: rgb(60, 255, 0);
    height: 50px;
    text-align: right;
    width: 100%;
    float: left;
}
h4 {
    margin-left: 100px;
    margin-top: 200px;
    text-align: left;
}
h2{
    text-align: center;
    margin: 0px;
}
h3{
    text-align: center;
}
img{
    margin-top: 100px;
    text-align: left;
    float: left;
}
ul{
    margin-left: 100px;
    list-style-type: circle;
}
.form{
    margin-left: 120px;
    margin-top: 50px;
}