table , td{
    border:1px solid rgb(130, 69, 85);
    color: rgb(130, 69,85);
    padding: 10px;
}
.gora_lewo{
    background-color: rgb(130, 69, 85);
    color: white;
    width: 30%;
    height: 200px;
    text-align: center;
    float: left;
}
.gora_prawy{
    background-color: rgb(130, 69, 85);
    color: white;
    width: 70%;
    height: 200px;
    text-align: center;
    float: left;
}
.glowny{
    background-color: rgb(240, 234, 226);
    padding: 120px;
}
.dol_lewo{
    background-color: rgb(130, 69, 85);
    color: white;
    width: 30%;
    height: 200px;
    text-align: center;
    float: left;
}
.dol_prawo{
    background-color: rgb(130, 69, 85);
    color: white;
    width: 70%;
    height: 200px;
    text-align: center;
    float: left;
}
.stopka{
    background-color: rgb(240, 234, 226);
    padding: 120px;
}