body{
    margin: 0 auto;
	padding: 0;
	font-family: Helvetica;
}

.lewo{
    background-color: Navy;
	color: white;
	height: 730px;
	width: 25%;
	float: left;
}
.boxP{
    background-color: RoyalBlue;
    width: 75%;
    height: 730px;
    float: left;
}
.baner{
    width: 100%;
    height: 80px;
    text-align: center;
}
.srodek{
    width: 100%;
    height: 300px;
    background-color:  SteelBlue;
}
form {
	margin: 30px;
}
form:hover{
    background-color: deepskyblue;
}
.obrazek{
    width: 100%;
    height: 300px;
    text-align: center;
}
.stopka{
    background-color: SteelBlue;
    text-align: center;
    width: 100%;
    float: left;   
}
h1{
    letter-spacing: 5px;
}
