.baner{
    background-color: #E8C84E;
    height: 50px;
    text-align: center;
    font-size: 130%;
}
.box{
    height: 500px;
    width: 100%;
}
.stopka{
    background-color: #E8C84E;
    height: 50px;
    width: 100%;
    text-align: right;
    float: left;
}
img h3{
    margin-top: 50px;
}
.lewydane{
    background-color: #FFAA00;
    margin-top: 30px;
}
.srodek{
    height: 500px;
    width: 30%;
    text-align: center;
    float: left;
}
.prawy{
    background-color: #FFB544;
    height: 500px;
    width: 30%;
    font-size: 130%;
    text-align: center;
    float: left;
}
.lewy{
    background-color: #FFB544;
    background-size: auto;  
    width: 40%;
    height: 500px;
    font-size: 130%;
    float:left;
}