header {
	background-color: rgb(30, 137, 157);
	color: white;
	font-size: 120%;
	text-align: right;
	height: 100px;
}
.left, .right{
	float: left;
	background-color: rgb(58, 159,178);
	width: 20%;
	height: 550px;
}
.mid{
	float: left;
	background-color: rgb(143, 212, 225);
	width: 60%;
	height: 550px;
}
img{
	float: left;
}
h3{
	color: white;
}