html{
    font-family: Verdana; 
}
.baner{
    background-color: #4682B4;
    color: white;
    padding: 20px;
    font-size: 120%;
    text-align: center;
}
.lewo{
    background-color: #40E0D0;
    width: 40%;
    height: 500px;
    float: left;
}
.prawo{
    background-color: #40E0D0;
    width: 60%;
    height: 500px;
    float: left;
}
.stopka{
    background-color: #4682B4;
    color: white;
    padding: 20px;
    font-size: 120%;
    text-align: center;
    float: left;
}
img{
    padding: 5px;
    margin: 10px;
    border: solid #000080 1px;
}
