body {
	font-family: Georgia;
	margin: 0px;
}
#baner {
	background-color:#824555;
	color: white;
	text-align: center;
	padding: 20px;
}
table, tr, th, td {
    color: white; 
	border: 2px solid #69293A;
	padding: 7px;
	border-collapse: collapse;
}

#p1 {
	background-color: #A26475;
	color: white;
	width: 30%;
	height: 300px;
	float: left;
}
#p2 {
	background-color: #A26475;
	color: white;
	width: 30%;
	height: 300px;
	float: left;
}
#p3 {
	background-color: #A26475;
	color: white;
	width: 40%;
	height: 300px;
	text-align: right;
	float: left;
}
#pg {
	background-color: #F0EAE2;
	padding: 50px;
	clear: both;
}
#c {
	background-color:red;
}
#z {
	background-color:green;
}
#n {
	background-color:blue;
}
#footer {
	background-color: #824555;
	text-align: center;
	padding: 20px;
}