html {
    font-family: Arial;
}
#logo {
    background: rgb(162, 117, 87);
    width: 20%;
    height: 100px;
    float: left;
  }
.menu {
  background: rgb(162, 117, 87);
  width: 80%;
  height: 100px;
  text-align: right;
  float: left;
}
#header {
  background: rgb(74, 45, 32);
  color: white;
  text-align: center;
  padding: 30px;
  clear: both;
}
.main {
  background: rgb(162, 117, 87);
  height: 500px;
  float: left;
  color: white;
  width: 50%;
}
h1 {
  letter-spacing: 10px;
}
a {
  color: rgb(65, 98, 85);
  padding: 20px;
  line-height: 100px;
  margin: 10px;
  font-size: 150%;
  border: 1px solid rgb(65, 98, 85);
}
#footer {
    background: rgb(74, 45, 32);
    color: white;
    text-align: center;
    padding: 30px;
    clear: both;
}