body {
	font-family: Helvetica;
}
h1 {
    letter-spacing: 5px;
}
form {
	margin: 30px;
}
form:hover {
	background-color: DeepSkyBlue;
}
#container{
    padding: 0;
}
#left{
    background-color: navy;
    background-size: auto;  
    width: 25%;
    height: 700px;
    color: white;
    float: left;
}
#right_top{
    background-color: RoyalBlue;
    background-size: auto;  
    width: 75%;
    height: 100px;
    color: black;
    float: left;
    text-align: center;
}
#right{
    background-color: SteelBlue;
    background-size: auto;  
    width: 75%;
    height: 300px;
    color: white;
    float: left;
    text-align: left;
}
#right_down{
    background-color: RoyalBlue;
    background-size: auto;  
    width: 75%;
    height: 300px;
    color: white;
    float: left;
    text-align: center;
}
#footer{
    background-color: SteelBlue;
    background-size: auto;  
    clear: both;
    text-align: center;
    padding: 20px;
}