.baner{
    width: 100%;
    height: 350px;
    background-image: url(banerr.jpg);
    object-fit: scale-down;
    text-align: center;
    background-size: contain;
    clear: both;
}
.koszyk{
    width: 100%;
    height: 50px;
    background-color: black;
    text-align: right;
}
.karton{
    width: 100%;
    height: 700px;
    background-color: black;
    color: white;
}
.stopka{
    width:100%;
    height: 30px;
    background-image: url(stopka.png);
    background-size: contain;
    clear:both;
}

body{
    margin: 0px;
}
img.koszyknapis{
    height: 65px;
}
img.zrealizuj{
    float: right;
    margin-bottom: -25px;
}
img.koszyk{
    width: 50px;
    height: 50px;
    margin-right: 1%;
}
img.koszyk:hover{
    filter: brightness(0.3);
}
p{
    color: white;
    text-align: center;
    margin: 0px;
}
.zeg{
    position: absolute;
    float: left;
}
.produkt {
    display: block;
    height: 220px;
    min-height: 180px;
    min-width: 170px;
    padding-left: 10px;
    text-align: left;
    width: auto;
    float: left;
    margin: 0px;
}

.img {
    float: initial;
    height: auto;
    left: 0;
    margin: 0 auto;
    max-height: 100px;
    max-width: 500px;
    padding: 10px;
    position: relative;
    right: auto;
    width: 50%;
    margin: 0px;
}
.produkty { 
    display: block;
	width: 700px; 
	height: 650px; 
    overflow-y: scroll; 
    background-image: url(tloz1.png);
    background-size: contain;
    background-position: top right;
    background-repeat: no-repeat;
}
.kontener{
    width: 100%;
    float: left;
}
.obrazekimg{
    float: left;
    width: 43%;
}
.opis{
    float: left;
    width: 50%;
}
a {
    color: white;
    margin-left: -20px;
}
.dostawa{
    width: 200px;
    height: 200px;
    margin: 0px;
}
    
button {
    width: 40px;
    height: 30px;
    border: 0;
    float: right;
    margin: 0px;
    background: rgb(12, 173, 75);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-transition: 0.3s ease-in; 
    -webkit-transition: 0.3s ease-in; 
    -o-transition: 0.3s ease-in; 
    transition: 0.3s ease-in;
}
button.przyciskdostawa{
    width: 50px;
    height: 30px;
    border: 0;
    float: left;
    margin: 0px;
    background: rgb(12, 173, 75);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-transition: 0.3s ease-in; 
    -webkit-transition: 0.3s ease-in; 
    -o-transition: 0.3s ease-in; 
    transition: 0.3s ease-in;
}

.produkty::-webkit-scrollbar {
    display: none;
}

.table { 
    width: 100%;
    text-align: left;
}

.table td, .table th {
    padding: 10px;
}
.kup{
    float: right;
    text-align: right;
}
img.kup{
    margin-top: 400px;
}
img.zrealizowano{
    text-align: center;
    float: initial;
    margin-left: 280px;
    margin-top: 210px;
    width: 60%;
}
input.dane{
    width: 300px;
    height: 80px;
}